@model AAO_App.Models.Driver

@{
    Layout = "~/Views/Shared/_NewUser.cshtml";
    ViewData["Title"] = "Create user";
}

<link rel="stylesheet" href="/css/ModalStyles.css" />

<img id="Icon" src="images/logo.svg" alt="Alex Andersen logo" />

<div id="DotHolder">

</div>

<form id="CreateUserForm" method="POST" asp-controller="NewUser" asp-action="Index">

    <div class="Formula Displayed">
        <label>Fornavn</label>
        <input asp-for="@Model.Firstname">
        <label>Efternavn</label>
        <input asp-for="@Model.Lastname">
        <label>Telefon nr</label>
        <input asp-for="@Model.Phone">

        <label>Bopæl</label>
        <input asp-for="@Model.Address">
        <div class="ButtonContainer">
            <button type="button" id="Next" onclick="NextSlide()" class="ButtonModal">Næste</button>
        </div>
    </div>

    <div class="Formula">
        <label>Lokation</label>
        <select asp-for="@Model.Location">
            <option>Odense</option>
            <option>Luxemborg</option>
        </select>

        <label>Kørekort type</label>
        <!--<select asp-for="Model.DriverLicensType">
            <option>BC1</option>
            <option>CE</option>
        </select>
        
    <label>User login</label>
    <select asp-for="Model.UserLogin.LoginId">
        <option>1</option>
    </select>-->

        <div class="ButtonContainer" id="SecondContainer">
            <button type="button" id="Prev" onclick="PrevSlide()" class="ButtonModal">Tilbage</button>

            <input type="Submit" value="Anmod om registrering" class="WideButton">
        </div>
    </div>
</form>

<button id="Help" class="ModalTrigger">Help</button>

<div id="Modal">
    <button onclick="closeHelp()" id="Cross" class="Cross">X</button>
    <h3 id="ModalTitle"></h3>
    <p id="ModalContent"></p>
    <button onclick="closeHelp()" id="CloseButton" class="ButtonModal">Ok</button>
</div>

<script src="../../js/CreateUserScript.min.js"></script>
<script src="../../js/Modal.js"></script>
