@model IEnumerable<AAO_App.Models.TripModelView>
@using Microsoft.AspNetCore.Http;

@{
    Layout = "~/Views/Shared/_Master.csHtml";
    ViewData["Title"] = "Trips";
}

<link rel="stylesheet" href="~/css/TripStyle.css" />
<script src="/js/TripJs.js" defer></script>
<script src="https://kit.fontawesome.com/f8c369dae8.js" crossorigin="anonymous"></script>


<h1>Ture</h1>

<div class="MenuTripContainer">
    <div onclick="MyTrip()" class="Item MenuTripItem1" id="TripItem1">
        <p>Mine ture</p>
    </div>
    <div onclick="AvaTrip()" class="Item MenuTripItem2" id="TripItem2">
        <p>Ledige ture</p>
    </div>
</div>
<div id="line" class="Line"></div>

<div class="TripInfoContainer">
    <div class="Filter">
        <div onclick="OpenCloseFilter()" class="FilterArrow">
            <p>Filter</p>
            <div class="arrow down"></div>
        </div>

        <div id="Filter" class="FilterContaioner" style="display:none">
            <div class="FilterItem">
                <p>Afgangssted:</p>
                <label>Odense DK</label>
                <input class="btn" name="check" value="Odense" type="checkbox" />
                <label>Århus DK</label>
                <input class="btn" name="check" value="Aarhus" type="checkbox" />
                <label>Greve DK</label>
                <input class="btn" name="check" value="Greve" type="checkbox" />
                <label>Aalsmeer NL</label>
                <input class="btn" name="check" value="Aalsmeer" type="checkbox" />
                <label>Helsingborg SE</label>
                <input class="btn" name="check" value="Helsingborg" type="checkbox" />
                <label>Eskilstuna SE</label>
                <input class="btn" name="check" value="Eskilstund" type="checkbox" />
                <label>Moss NO</label>
                <input class="btn" name="check" value="Moss" type="checkbox" />
            </div>
            <div class="FilterItem">
                <p>Type:</p>
                <label>National</label>
                <input class="btn" name="CountryTypeCheck" value="National" type="checkbox" />
                <label>International</label>
                <input class="btn" name="CountryTypeCheck" value="International" type="checkbox" />
            </div>
        </div>
    </div>
</div>


@foreach (var item in Model)
{
    int thisUserId = Int32.Parse(Context.Session.GetString("DriverId"));
    if (thisUserId != item.DriverId)
    {
<div id="NewTrips" class="NewTrips AllNewTrips" style="display:flex">
    <div class="TripsHolder">
        <div id="Date" class="Date">
            <p class="Number">@item.DateStart.Day</p>
            <p id="Month" class="Month">@item.DateStart.Month</p>
        </div>
        <div class="Info">
            <p class="StartPoint">Afgangsted: @item.CityName</p>
            <p>Start @item.DateStart</p>
            <p>Slut @item.DateEnd</p>
        </div>
        <div class="Time">
            <p>@Html.DisplayFor(modelItem => (item.DateEnd - item.DateStart).TotalHours) t</p>
        </div>
        <div id="Country" class="Country">
            <p class="CType">@item.CountryCode - @item.CountryCode</p>
        </div>
    </div>
    <div id="Info" class="MoreInfo" style="display:none">
        <div class="TripInformation">
            <p><span style="text-decoration:underline">Din tur går til:</span> @item.TripInfo</p>
            <p><span style="text-decoration:underline">Besked:</span> @item.MessageContents</p>
            <p><span style="text-decoration:underline">Kontakt person:</span> @item.Firstname @item.Lastname</p>
            <p><span style="text-decoration:underline">Afdeling:</span> @item.DepartmentName</p>
        </div>

        <div class="Contact">
            <p><i class="fas fa-phone-alt"></i> @item.Phone</p>
            <p><i class="fas fa-envelope"></i> @item.Email</p>
        </div>
        <button class="Btn">Anmod om tur</button>
    </div>
</div>
    }

}

@foreach (var item in Model)
{
    int thisUserId = Int32.Parse(Context.Session.GetString("DriverId"));
    //int RequestStatus = Int32.Parse(Context.Session.GetString("RequestStatus"));
    if (thisUserId == item.DriverId)
    {
        <div id="NewTrips" class="NewTrips MyTrips" style="display:none">
            <div class="TripsHolder">
                <div id="Date" class="Date">
                    <div class="Request"> </div>
                    <p class="RequestText">Afventer <br /> svar</p>
                    <p class="Number">@item.DateStart.Day</p>
                    <p id="Month" class="Month">@item.DateStart.Month</p>
                </div>
                <div class="Info">
                    <p class="StartPoint">Afgangsted: @item.CityName</p>
                    <p>Start @item.DateStart</p>
                    <p>Slut @item.DateEnd</p>
                </div>
                <div class="Time">
                    <p>@Html.DisplayFor(modelItem => (item.DateEnd - item.DateStart).TotalHours) t</p>
                </div>
                <div id="Country" class="Country">
                    <p class="CType">@item.CountryCode - @item.CountryCode</p>
                </div>
            </div>
            <div id="Info" class="MoreInfo" style="display:none">
                <div class="TripInformation">
                    <p><span style="text-decoration:underline">Din tur går til:</span> @item.TripInfo</p>
                    <p><span style="text-decoration:underline">Besked:</span> @item.MessageContents</p>
                    <p><span style="text-decoration:underline">Kontakt person:</span> @item.Firstname @item.Lastname</p>
                    <p><span style="text-decoration:underline">Afdeling:</span> @item.DepartmentName</p>
                </div>

                <div class="Contact">
                    <p><i class="fas fa-phone-alt"></i> @item.Phone</p>
                    <p><i class="fas fa-envelope"></i> @item.Email</p>
                </div>
                <button class="Btn">Anmod om tur</button>
            </div>
        </div>

    }

}


