@model IEnumerable<AAO_App.Models.Driver>

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<link href="~/css/Profile.css" rel="stylesheet" type="text/css" />

    @foreach (var item in Model)
    {
        <h1 id="Profil">Profil</h1>
        <div class="wrap_around">
            <img id="UserPic" src="../../../images/userpic.svg" alt="ProfilePic" />
            @*<p>
                <a asp-action="Edit" asp-route-id="@item.DriverId"><i style="font-size:24px" class="fa">&#xf040;</i></a>
            </p>*@
        </div>
        <div id="TextBody">
            <div class="wrap_around">
                <h2 class="ProfileSpace" id="Stamdata">Stamdata</h2>
                <p>
                    <a asp-action="Edit" asp-route-id="@item.DriverId"><i style="font-size:24px" class="fa">&#xf040;</i></a>
                </p>
            </div>
            <div class="ProfileSpace" id="ProfName">Navn:  @item.Firstname @item.Lastname </div>
            <div class="ProfileSpace" id="ProfAddress"> Addresse:  @item.Address </div>
            <p class="ProfileSpace" id="ProfKørekort"> Kørekort oplysninger: </p>

            <div class="wrap_around">
                <h2 class="ProfileSpace" id="ProfPreferencer">Dine præferencer</h2>
                <p>
                    <a asp-action="Edit" asp-route-id="@item.DriverId"><i style="font-size:24px" class="fa">&#xf040;</i></a>
                </p>
            </div>
            <div class="ProfileSpace" id="ProfLokation"> Lokation:  @item.Location </div>
        </div>
    }



