@model AAO_App.Models.Availability
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Delete";
}

<div class="w3-container">
    <h1 class="opret_periode">Slette Periode?</h1>
    <div class="rowdelete">
        <div class="row1">
            <h3 class="col-sm-2">
                @Html.DisplayNameFor(model => model.Start)
            </h3>
            <p class="col-sm-10">
                @Html.DisplayFor(model => model.Start)
            </p>
        </div>
        <div class="row1">
            <h3 class="col-sm-2">
                @Html.DisplayNameFor(model => model.End)
            </h3>
            <p class="col-sm-10">
                @Html.DisplayFor(model => model.End)
            </p>
        </div>
        <div class="row1">
            <h3 class="col-sm-2">
                @Html.DisplayNameFor(model => model.AvailabilityType)
            </h3>
            <select asp-for="AvailabilityType" class="form-control">
                <option value="0">Ledig</option>
                <option value="1">Optaget</option>
            </select>
        </div>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="AvailabilityId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
    <a class="back_list" style="font-size:20px;color:black;" asp-action="Index">   <i style="font-size:24px" class="fa">&#xf104; Back</i></a>
</div>
