@model AAO_App.Models.Availability

@{
    ViewData["Title"] = "Calendar Details";
    Layout = "_CrudLayout";
}

<h1>Details</h1>

<div>
    <h4>Availability</h4>
    <hr />
    
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Drivers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Drivers.DriverId)
        </dd>
        <dt class="col-sm-2">
            <!--Html.DisplayNameFor(model => model.AvailabilityTypes)-->
    </dt>
    <dd class="col-sm-10">
        <!-- <Html.DisplayFor(model => model.AvailabilityTypes.AvailabilityTypeId)-->
            </dd>
<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Start)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Start)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.End)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.End)
        </dd>
    </dl>-->
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AvailabilityId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
