@model IEnumerable<AAO_App.Models.TripModelView>

@{
    Layout = "_Master";
    ViewData["Title"] = "DriverHistory";
}



<div class="container">
    <h1>Mine kørte ture</h1>

    @foreach (var item in Model)
    {
        <div class="item">
            <div class="route">Afg.  @item.CityName - @item.DateStart.ToString("d'/'M") kl.@item.DateStart.ToString("HH:mm") til @item.DateEnd.ToString("d'/'M") kl.@item.DateStart.ToString("HH:mm")  </div>
            <div class="code">@item.CountryCode - @item.CountryCode</div>
            <div class="time">@Html.DisplayFor(modelItem => (item.DateEnd - item.DateStart).TotalHours) t</div>
        </div>
    }
</div>