@model IEnumerable<AAO_App.Models.TripModelView>

@{
    ViewData["Title"] = "Kontakter";
    Layout = "_Master";
}
    <div class="contact_container">
        <div class="headingtext">
            <h1>Kontakter</h1>
        </div>
        <div style="height:100vh">
            @foreach (var item in Model)
            {
                <div class="wrapper_contact">
                    <img src="~/images/userpic.svg" alt="employee image" />
                    <div class="contact_info">
                        <p>Navn:  @item.Firstname @item.Lastname  </p>
                        <p>Tlf:  @item.Phone</p>
                        <p>Email:  @item.Email</p>
                        <p>Afdeling: @item.DepartmentName </p>
                    </div>
                </div>
            }
        </div>
    </div>