@using Microsoft.AspNetCore.Http;
@model IEnumerable<AAO_App.Models.TripModelView>

@{
    ViewData["Title"] = "Homepage";
    Layout = "_Master";
}


@*Alle css i skal bruge til siderne skal tilføje i _Master Layout - vi skal kun bruge en styling hele vejen igennem*@

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Raleway:wght@700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="~/css/HomepageStyles.css" />
<script src="/js/Home.js" defer></script>

<section style="padding-top:7px">
    <div id="WelcomeMessage">
        <img src="../images/userpic.svg" alt="User image" />
        <h3>
            Velkommen @Context.Session.GetString("Firstname") @Context.Session.GetString("Lastname")
        </h3>
    </div>


    <div id="NewestTrips">

        <h3>Nyeste ledige ture</h3>
        @foreach (var item in Model)
        {
            <div class="TripsHolder">
                <div class="Date">
                    <p class="Number">@item.DateStart.Day</p>
                    <p id="Month" class="Month">@item.DateStart.Month</p>
                </div>
                <div class="Info">
                    <p>Afgangsted:@item.CityName</p>
                    <p>Start @item.DateStart </p>
                    <p>Slut @item.DateEnd</p>
                </div>
                <div class="Time">
                    <p>@Html.DisplayFor(modelItem => (item.DateEnd - item.DateStart).TotalHours) t</p>
                </div>
                <div class="Country">
                    <p>@item.CountryCode - @item.CountryCode</p>
                </div>
            </div>
        }
    </div>

    <div class="wrap_trips" style="height: 100vh;">
        <div id="NewestTrips">

            <h3>Min igangværende tur</h3>
            @foreach (var item in Model)
            {
                int thisUserId = Int32.Parse(Context.Session.GetString("DriverId"));
                if (thisUserId == item.DriverId)
                {
                    <div class="TripsHolder">
                        <div class="Date">
                            <p class="Number">@item.DateStart.Day</p>
                            <p id="Month" class="Month">@item.DateStart.Month</p>
                        </div>
                        <div class="Info">
                            <p>Afgangsted:@item.CityName</p>
                            <p>Start @item.DateStart </p>
                            <p>Slut @item.DateEnd</p>
                        </div>
                        <div class="Time">
                            <p>@Html.DisplayFor(modelItem => (item.DateEnd - item.DateStart).TotalHours) t</p>
                        </div>
                        <div class="Country">
                            <p>@item.CountryCode - @item.CountryCode</p>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</section> 