@using Microsoft.AspNetCore.Http;
@model IEnumerable<AAO_App.Models.Trip>
@{
    ViewData["Title"] = "Homepage";
    Layout = "_Master";
}



<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Raleway:wght@700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="~/css/HomepageStyles.css" />
<section style="padding-top:7px">
    <div id="WelcomeMessage">
        <img src="../images/userpic.svg" alt="User image" />
        <h3>
            Velkommen @Context.Session.GetString("Firstname") @Context.Session.GetString("Lastname")
        </h3>
    </div>
    @*@foreach (var item in Model)
    {
        <div id="NewestTrips">
            <h3>Nyeste ledige ture</h3>
            <div class="TripsHolder">
                <div class="Date">
                    <p class="Number">@item.DateStart.Day</p>
                    <p id="Month" class="Month">@item.DateEnd.Month</p>
                </div>
                <div class="Info">
                    <p class="StartPoint">Afgangsted: @item.CityId.ToString(item.Cities.CityName)</p>
                    <p>Start @item.DateStart</p>
                    <p>Slut @item.DateEnd</p>
                </div>
                <div class="Time">
                    <p>@Html.DisplayFor(modelItem => (item.DateEnd - item.DateStart).TotalHours) t</p>
                </div>
                <div class="Country">
                    <p class="CType">@item.Cities.Countries.CountryCode - @item.Cities.Countries.CountryCode</p>
                </div>
            </div>
        </div>
    <div id="MyTrip">
        <h3>Min igangværende tur</h3>

        <div class="TripsHolder">
            <div class="Date">
                <p>Slut 7/9 Kl.12:30</p>
            </div>
            <div class="Time">
                <p>@Html.DisplayFor(modelItem => (item.DateEnd - item.DateStart).TotalHours) t</p>
            </div>
            <div class="Country">
                <p class="CType">@item.CityId.ToString(item.Cities.CountryId.ToString(item.Cities.Countries.CountryName)) - @item.CityId.ToString(item.Cities.CountryId.ToString(item.Cities.Countries.CountryName))</p>
            </div>
        </div>
    </div>
    }*@
</section>